@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141e29;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
  max-width: 100%;
  padding: 1.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span:first-child {
  font-size: 290%;
  font-family: "Finger Paint", cursive;
  color: #31c3bd;
  margin-right: 0.3rem;
}

.logo span:last-child {
  font-size: 290%;
  font-family: "Finger Paint", cursive;
  color: #f2b137;
}

.msg {
  background-color: #253446;
  color: rgb(213, 230, 236);
  height: 2.8rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 115%;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 4px 2px black;
}

.reset {
  background-color: #a8bfc9;
  height: 2.8rem;
  width: 4.7rem;
  font-size: 105%;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 4px rgb(96, 125, 138);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.reset:active {
  background-color: #566972;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 1.2rem;
}

.box {
  font-family: "Finger Paint", cursive;
  font-size: 500%;
  height: 6.7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253446;
  color: antiquewhite;
  border-radius: 15px;
  outline: none;
  border: none;
  box-shadow: 0px 5px 2px black;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.box:active:not(:disabled) {
  background-color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 7rem;
  border-radius: 10px;
  padding: 2rem 0;
  border: none;
  outline: none;
  font-weight: 500;
  box-shadow: 0.7px 2px 8px black;
}

.X {
  background-color: #31c3bd;
}

.Draw {
  background-color: #a8bfc9;
}

.O {
  background-color: #f2b137;
}

.score {
  font-weight: 700;
  font-size: 120%;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 768px) {
  .logo span:first-child,
  .logo span:last-child {
    font-size: 250%;
  }

  .msg {
    width: 5.8rem;
  }

  .reset {
    width: 4.3rem;
    font-size: 100%;
  }

  .box {
    height: 5.8rem;
    width: 5.8rem;
    font-size: 400%;
  }

  .player {
    width: 5.8rem;
  }
}

@media (max-width: 320px) {
  .logo span:first-child,
  .logo span:last-child {
    font-size: 235%;
  }

  .msg {
    height: 2.7rem;
    width: 5.2rem;
    font-size: 100%;
  }

  .reset {
    height: 2.7rem;
    width: 3.9rem;
  }

  .box {
    height: 5.2rem;
    width: 5.2rem;
    font-size: 350%;
  }

  .player {
    width: 5.2rem;
  }
}
